VisualElement {
}

.otbc-root {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.sidebar--flex-grow {
    flex-grow: 1;
}

.sidebar--size {
    max-width: 160px;
    min-width: 160px;
}

.sidebar--margin {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar--text {
    -unity-text-align: middle-left;
}

.sidebar__content--grow {
    flex-grow: 1;
}

.sidebar__footer--grow {
    flex-shrink: 0;
}

.preference-selector__button--text {
    -unity-text-align: middle-left;
}

.unit-storage-selector__items--margin {
    margin-left: 20px;
}
